.img {
    display: flex;
    align-items: center;
    width: 185px;
    height: 32px;
    margin-top: 42px;
    margin-left: 145px;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 44px;   
}
.navlinks {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 332px;
}
.navlinks a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
}
.nav-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 29px;
}
.signin {
    width: 102px;
    height: 46px;
    border-radius: 4px;
    border-color: #BCD0E5;
}
.signup {
    width: 110px;
    height: 46px;
    border-radius: 4px;
    background-color: #FF9900;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-right: 145px;
}
