body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 145px;
    padding-right: 145px;
}
.navbar {
    padding-top: 44px;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 185px;
    height: 32px;
}
nav {
    margin-left: 0;
}
.navlinks {
    list-style: none;
    display: flex;
    gap: 30px;
}
.navlinks a {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    padding-bottom: 4px;
}
.nav-btn {
    display: flex;
    gap: 14px;
    margin-left: 0;
}
.signin {
    width: 102px;
    height: 46px;
    border-radius: 4px;
    border: 2px solid #BCD0E5;
    background: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.signup {
    width: 110px;
    height: 46px;
    border-radius: 4px;
    background: #FF9900;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid #FF9900;
    cursor: pointer;
}
main {
    max-width: 1400px;
    margin: 0 auto;
}
.main-section {
    max-width: 518px;
    margin-top: 113px;
}
.main-title {
    max-width: 518px;
    width: 100%;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}
.main-info {
    max-width: 458px;
    width: 100%;
    margin-top: 30px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #544837;
}
.getstarted {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    margin-top: 45px;
    background: #FF9900;
    border: 2px solid #FF9900;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.arrow-btn {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    margin-left: 31px;
    font-weight: 600;
    font-size: 16px;
    color: #FF9900;
    text-decoration: underline;
}
.arrow-btn img {
    width: 20px;
    height: 17px;
    border-radius: 1.13px;
    border: 2px solid transparent;
}
.people-section {
    position: absolute;
    right: 145px;
    top: 160px;
}
.people-section img {
    width: 605px;
    max-width: 100%;
    height: auto;
    display: block;
}
/* ---SECOND PAGE FEATURES-- */
.features-title {
    max-width: 539px;
    margin-top: 111px;
    text-align: center;
}
.features {
    display: flex;
    align-items: center;
    margin-top: 53px;
}
h4 {
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    color: #2F281E;
}
.feature {
    max-width: 1095px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.content-btn {
    display: flex;
    max-width: 1400px;
    margin-top: 60px;
    margin-left: 500px;
}
.primary-btn {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background-color: #FF9900;
    border: 2px solid #FF9900;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}
/* THIRD PAGE REUSE CSS PAGE FIFHT */
.design {
    margin-top: 236px;
    display: grid;
    grid-template-columns: 520px 1fr;
    align-items: start;
    column-gap: 104px;
}
h3 {
    font-weight: bold;
    font-size: 36px;
    color: #2F281E;
}
.design-info {
    max-width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.info-image {
    display: flex;
    justify-content: flex-start;
}
.info-image img {
    width: 520px;
    height: 573px;
    display: block;
}
/* FOURTH PAGE */
.page-content {
      max-width: 1400px;
      margin-top: 102px;
      display: grid;
      grid-template-columns: 532px 1fr;
      align-items: start;
      column-gap: 102px;
}
.page-image {
    width: 535px;
    height: 520px;
}
.check-icon {
    max-width: 486px;
    width: 35px;
    height: 35px;
    gap: 8px;
    text-align: center;
}
.check-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.check-item {
    display: flex;
    align-items: center;
    gap: 30px;
}
.check-item img {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}
.h-line {
    height: 1px;
    width: 100%;
    margin-top: 146px;
    background-color: #BCD0E5;
    margin-top: 146px;
}
.footer {
    margin-top: 102px;
}
.footer .container {
    margin-top: 102px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    column-gap: 80px;
}
.footer-logo img {
    max-width: 184px;
}
.footer-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-info a {
    margin-top: 33px;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}
.footer-signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 21px;
}
.footer-signup input {
    width: 325px;
    height: 48px;
    margin-top: 160px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
}
.footer-signup button {
    width: 131px;
    height: 39px;
    background-color: #FF9900;
    border: 5px solid #FF9900;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}
/* NAVIGATION HOVER */
.navlinks a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
}
/* BUTTON HOVER */
body button {
    transition: background-color 0.2 ease;
}
.signin:hover {
    border-color: #0000ff;
}
.signup:hover {
    border-color: #0000ff;
}
.getstarted:hover {
     border-color: #0000ff;
}
.arrow-btn:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
}
.arrow-btn img:hover {
    border-color: #0000ff;
}
.primary-btn:hover {
    border-color: #0000ff;
}
.footer-signup input:hover {
    border-color: #0000ff;
}
.footer-signup button:hover {
    border-color: #0000ff;
}
