body {
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1400px;
    padding: 0 145px;
    margin: 0 auto;
}
.navbar {
    padding-top: 44px;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 185px;
    height: 32px;
}
nav {
    margin-left: 0;
}
.navlinks {
    list-style: none;
    display: flex;
    gap: 30px;
}
.navlinks a {
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
}
.nav-btn {
    display: flex;
    gap: 14px;
    margin-left: 0;
}
.signin {
    width: 102px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    background: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.signup {
    width: 110px;
    height: 46px;
    border-radius: 4px;
    background: #FF9900;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
main {
    max-width: 1400px;
    margin: 0 auto;
}
.main-section {
    max-width: 518px;
    margin-top: 113px;
    margin-left: 145px;
}
.main-title {
    max-width: 518px;
    width: 100%;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}
.main-info {
    max-width: 458px;
    width: 100%;
    margin-top: 30px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #544837;
}
.getstarted {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    margin-top: 45px;
    background: #FF9900;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.arrow-btn {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    margin-left: 31px;
    font-weight: 600;
    font-size: 16px;
    color: #FF9900;
    text-decoration: underline;
}
.arrow-btn img {
    width: 20px;
    height: 17px;
    border-radius: 1.13px;
}
.people-section {
    position: absolute;
    right: 145px;
    top: 160px;
}
.people-section img {
    width: 605px;
    max-width: 100%;
    height: auto;
    display: block;
}
/* ---SECOND PAGE FEATURES-- */
.features-title {
    max-width: 539px;
    margin-top: 111px;
    margin-left: 439px;
    text-align: center;
}
.features {
    display: flex;
    max-width: 1400px;
    margin-left: 161px;
    margin-top: 53px;
}
h4 {
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    color: #2F281E;
}
.feature {
    max-width: 240px;
    padding: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.content-btn {
    display: flex;
    max-width: 1400px;
    margin-top: auto;
    margin-left: 621px;
}
.primary-btn {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background-color: #FF9900;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}
.design {
    max-width: 1400px;
    margin-left: 145px;
    margin-top: 236px;
}
h3 {
    font-weight: bold;
    font-size: 36px;
    color: #2F281E;
}
.design-info {
    max-width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}